aiofiles
azure-ai-documentintelligence>=1.0.0
azure-ai-inference>=1.0.0b6
azure-identity>=1.20.0
tqdm 
python-dotenv
requests
openai>=1.57.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
pillow
rich
azure-storage-blob>=12.24.0
--extra-index-url https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/
azure-search-documents==11.6.0a20250505003
pyjwt
fastapi>=0.115.0
uvicorn>=0.32.0